<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    List of contributors: https://github.com/MSFOCBA
    Please refer to the LICENSE.md and LICENSES-DEP.md for complete licenses.
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div ng-controller="dossierProgramsMainController" id="DossierPanel" class="row">
	<div id="headerDossierPanel" class="col-md-12 headerPanel">
		<h1>{{'Programs' | translate}}</h1>
		<p>{{'Number of Programs' | translate}}: {{programs.programs.length}}</p>
		<!--<p>{{'Number of Data Elements in Program' | translate}}: {{programDataElements.programStageDataElements.length}}</p>
		<p>{{'Number of Indicators in Program' | translate}}: {{selectedProgram.programIndicators.length}}</p>-->
		<div class="col-md-2">
			<select class="form-control col-md-2" ng-options="program.displayName for program in programs.programs | orderBy: 'displayName'" name="selectProgram" id="drpBoxServices" ng-model="selectedProgram">
				<option value="" disabled selected>Select a program</option>
			</select>
		</div>
	</div>

	<div class="col-md-12">

		<div id="DossierTitleContainer" ng-if="selectedProgram" class="row">
			<br>
			<h1>{{selectedProgram.displayName}}</h1>
		</div>
		<br>

		<div id="tocContainer" class="row">
			<h3 ng-if="selectedProgram" style="text-decoration: underline;">{{'dos_Table of Content'| translate}}</h3>
			<ul ng-repeat="i in toc.entries | orderBy:'parent.index'">
				<li><big><b><a href="" class="pageref" ng-click="scrollTo(i.parent.id)" target="_self">{{i.parent.displayName}}</a></b></big>
					<ul ng-repeat="j in i.children">
						<li><a href="" class="pageref" ng-click="scrollTo(j.id)">{{j.displayName}}</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="DossierTextContainer" ng-if="selectedService">
			<div ui-view></div>
		</div>

		<div id="sectionContainer"  ng-model="sectionList" ng-controller="dossiersProgramSectionController">
			<div class="col-md-12"  ng-repeat="section in sections.programStageSections">
				<h3 class="section" id="{{section.id}}">{{section.displayName}}</h3>
				<p>{{'Number of Elements in Section'| translate}}: {{section.dataElements.length}}</p>
				<table class="sectionElementsTable table table-striped">
					<thead>
						<tr>
							<th>{{'dos_NameElement'| translate}}</th>
							<th>{{'dos_FormNameElement'| translate}}</th>
							<th>{{'dos_DescriptionElement'| translate}}</th>
							<th>{{'DataTypeElement' | translate}}</th>
							<th>{{'Options' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataElement in section.dataElements">
							<td>{{dataElement.displayName}}</td>
							<td>{{dataElement.displayFormName}}</td>
							<td>{{dataElement.displayDescription}}</td>
							<td>{{dataElement.valueType}}</td>
							<td><ul>
								<li ng-repeat="option in dataElement.optionSet.options">
								<div>{{option.displayName}}</div>
								</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>


		<div class="col-md-12"  ng-controller="dossiersProgramIndicatorController" id="IndicatorGroupsContainer" ng-show="indicators.programIndicators[0]">
			<h3 class="indicatorGroup" id="indicators">{{'Program indicators' | translate}}</h3>
			<div  class="col-md-12">
				<p>{{'Number of Indicators' | translate}}: {{indicators.programIndicators.length}}</p>
				<table class="indicatorTable table table-striped">
					<thead>
						<tr>
							<th>{{'Name' | translate}}</th>
							<th>{{'Description' | translate}}</th>
							<th>{{'Expression' | translate}}</th>
							<th>{{'Filter' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="indicator in  indicators.programIndicators | orderBy: 'displayName'">
							<td>{{indicator.displayName}}</td>
							<td>{{indicator.displayDescription}}</td>
							<td>{{indicator.expression}}</td>
							<td>{{indicator.filter}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</div>
